 

 /* |applica un modello di layout naturale,ma consente di modificarne il contenuto */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before,
   *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }


    /* font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif; */



body {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0 1em;
}

p{
    color: #666;
    line-height: 1.5;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
}

.primary-title {
    background: url(../img/sfondo-titolo-code85.jpg) no-repeat;
    background-size: cover;
}

.primary-title h1{
    text-align: center;
    color: #fff;
    padding:50px ;
    font-size: 3em;
}

.container {
    width: 90%;
    margin: 30px auto;
}


/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\     \     | ===================== navbar e logo======================| \  \ 
\||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.top {
    display: flex;
    margin: 20px 5%;
    align-items: center;
}


.top img{
    width: 20%;
}

.main-menu-list {
    list-style:none;
    display: flex;
}

.main-menu-list li{
    margin: 0 10px;
}

.main-menu-list a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    transition: all linear 0.2s;
}

.active {
    border: 1px solid #340153;
}

.main-menu-list a:hover{
    background-color: #340153;
    color: #fff;
}


/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\     \     | ===================== sezione servizi======================| \  \ 
\||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.service-container{
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    align-items: flex-start;
    width: 45%;
    margin: 20px;
}

.service-text h2{
    margin-top: 0;
}

.service-text {
    margin-left: 20px;
}


/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
\     \     | ===================== sezione secondaria======================| \  \ 
\||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.secondary-content, .secondary-content-reverse {
    display: flex;
    height: 70vh;
}

.secondary-img {
    width: 50%;
}

.secondary-background-01 {
    background: url(../img/img-1.jpg);
    background-size: cover; 
    background-position: center;

}

.secondary-background-02 {
    background: url(../img/img-2.jpg);
    background-size: cover;
    background-position: center ;
}

.secomdary-text {
    width: 50%;
}

